*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 3px 20px white  ;
    animation: pulse 3s infinite; 
    border: 3px solid transparent
}

@keyframes pulse {
    0% {
      border-color: transparent;
    }
    50% {
      box-shadow: 0px 2px 50px rgb(0, 174, 255); 
    }
    100% {
      border-color: transparent;
    }
  }
.seacrh{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.seacrh input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.seacrh button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.seacrh button img{

    width: 16px;

}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather H1{
    font-size: 80px;
    font-weight: 500;
}
.weather H2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humdity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
/* .weather{
    display: none;
} */
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}